@charset "utf-8";
/* CSS Document */


/*  p  */ 
p {
	background-color: dodgerblue;
	width: 6%;
}

p a{   
	padding: 5px 20px;
	text-decoration: none;
	color: green;
	display: inline-block;
}
